@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: "Revue";
    src: url("/font/revue.ttf") format("truetype");
}

@font-face {
    font-family: "Morning Star";
    src: url("/font/Morning.ttf") format("truetype");
}

@font-face {
    font-family: "ExplosionBook";
    src: url("/font/ExplosionBookBold.ttf") format("truetype");
}

@font-face {
    font-family: "Masque";
    src: url("/font/MASQUE.ttf") format("truetype");
}

@font-face {
    font-family: "Stable";
    src: url("/font/Stable.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stable";
}

section {
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}



header .logo{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 310px;
    margin-left: -2%;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #E70303;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
}

header ul li a.active,
header ul li a:hover
{
    background-color: #970000;
    color: #FFFFFF;
    border-radius: 30px;
}

.lpu
{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.content .textbox
{
    font-weight: bold;
    font-size: 1.5em;
    padding: 265px 35px;
    color: #333;
}

.content .Beta
{
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    width: 25em;
    color:#970000;
}

.dark-footer
{
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #333;
}

.dark-footer h3
{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.dark-footer ul
{
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.dark-footer ul a
{
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.dark-footer ul a:hover
{
    opacity: 0.8;
}

@media (max-width:767px)
{
    .dark-footer .item:not(.social)
    {
        text-align: center;
        padding-bottom: 20px;
    }
}

.dark-footer .item .text
{
    margin-bottom: 36px;
}

@media (max-width:767px)
{
    .dark-footer .item.text
    {
        margin-bottom: 0;
    }
}

.dark-footer .item .text p
{
    opacity: 0.6;
    margin-bottom: 0;
}

.dark-footer .item.social
{
    text-align: center;
}

@media (max-width:991px)
{
    .dark-footer .item.social
    {
        text-align: center;
        margin-top: 20px;
    }
}

.dark-footer .item.social > a
{
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.dark-footer .item.social > a:hover
{
    opacity: 0.9;
}

.dark-footer .copyright
{
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}




.Akame
{
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #B40101 ;
}


.T200
{
    width: 35%;
    display: block;
    float: left;
    margin-left: 15%;
}

.C2 
{
    display: block;
    width: 35%;
}